@import '../../styles/Settings.scss';

.login-container{
  display: grid;
  grid-template-columns: 8fr 4fr;
  grid-template-rows: auto;
  grid-gap:10px;
}

.login-container__Welcome{
  background-color: $purple-color;
  color:$white-color;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.login-container__form{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  background-color: $purple-color;
  color:$white-color;
}

.form__title{
  color:$white-color;
  font-size: 25px;
}

.form__input{
  padding: 10px;
  border: none;
}

.form__button{
  margin-top: 15px;
  color:$purple-color;
  padding: 10px;
  background-color: $secondary-color;
  font-weight: map-get($font-weights, bold);
  cursor: pointer;
  border:none;
}

.form__button:hover{
  background-color: $dark-orange-color;
}

@media (max-width: $tablet) {
  .login-container{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
